.show_data{
    margin-top: 30px;
    position:fixed;
}
.show_data{
    margin-left: -350px;
}
.spent-time h4{
    font-weight: 700;
    font-size: 24px;
    color: #6047EC;
    padding: 21px 48px;
    background-color:rgba(96, 71, 236, 0.1) ;
    border: 1px solid rgba(96, 71, 236, 0.1) ;
}
.book-marked h3{
    font-weight: 700;
    font-size: 24px;
    color: #111111;
    padding: 21px 48px;
    background-color:rgba(96, 71, 236, 0.1) ;
    border: 1px solid rgba(96, 71, 236, 0.1) ;
    margin-top: 25px;
}
.book-marked{
    padding: 20px;
    background-color: rgba(17, 17, 17, 0.05);
    margin-top: 30px;
}