.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.Nav ul{
    display: flex;
}
.Nav ul li{
    margin-right: 20px;
}
.Nav ul li a{
  color: red;
}
.Nav ul li:last-child{
    margin-right: 0px;
}